#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.box-container {
  position: relative;
  display: inline-block;
  margin-top: 20px; /* Example margin */
}
.box{
  position: relative;
  /* height: 60px; */
  
  border: solid blue;
}
.red-box {
  position: absolute;
  top: 0; /* Adjust as needed */
  right: 0; /* Adjust as needed */
  z-index: 1;
  border: 2px solid red; /* Example border */
  border-radius: 5px; /* Example border radius */

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Example box shadow */
}
.cal2{
  border-radius: 10px;
  background-color: rgb(207, 202, 202);
  padding: 10px;
  h1{
    border: 2px solid;
    /* border-bottom: none; */
    border-top: none;
    border-right: none;
    border-left: none;
     border-collapse: collapse;
  }
 
}
.select1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}
.select2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}
.submits{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}
.opt{
  display: flex;
  flex-direction: column;
  align-items: center;
  .bw{
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: blue;
    input{
      /* width: 25%; */
      padding: 5px;
      margin: 3px;
    }
    
  }
  .aw{
    color: red;
    display: flex;
    margin: 20px;
    flex-direction: row;
    input{
      /* width: 25%; */
      padding: 5px;
      margin: 5px;
    }
    
  }
}
body{
  background-color: white;
  display: flex;
  align-items: center;
  input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
  }
  select{
    text-decoration: none;
    outline: none;
    border-radius: 3px;
  }
}
.vrs{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.reviews{
  div, h5{
    border-bottom: solid 2px rgb(134, 132, 132);
  }
}
